/*Top of site*/
h1 {
	font-family: 'Montserrat', serif;
}
h2 {
	font-family: 'Montserrat', serif;
}
.intro {
	background-color: #b4b4b4;
	color: #913737;
	text-align: center;
	padding: 10px;
}
#nav {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 12px;
	padding-bottom: 30px;
	font-size: 20px;
	cursor: pointer;
}
#nav a {
	padding-left: 10px;
}
#temp {
	text-align: center;
	color: #913737;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:	20px;
}

/*Home page styles*/
#about {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom:	20px;
	width: 50%;
	height: auto;
}
#about li {
	font-size: 18px;
	font-family: 'Open Sans', serif;
}
#about img {
	width: 150px;
	padding-bottom: 20px;
	padding-left: 20px;
	float: right;
}

/*Various forms of text*/
h3, h4, h3 p {
	font-family: 'Open Sans', serif;
	line-height: 30px;
}
p {
	font-family: 'Open Sans', serif;
	font-size: 20px;
}
p.date {
	color: black;
   	font-style: italic;
   	font-size: 16px;
   	font-family: 'Open Sans', serif;
}
.container {
	background-color: #b4b4b4;
	margin-bottom: 60px;
	color: #913737;
}
a.sec-head {
	font-size: 18px;
	font-weight: bold;
	font-family: 'Montserrat', serif;
}
.content {
	background-color: white;
	border-top: 2px solid black;
	margin-bottom: 40px;
}
.content h3 {
	color: black;
}
.ext-quote {
	border-left: 1px solid black;
	margin-left: 40px;
	padding-left: 10px;
}

/*Specific additions*/
#vermin, #famine, #CMU-chart {
	border: 1px solid #913737;
	padding: 5px;
	width: 80%;
}
figcaption {
	font-style: italic;
	color: #A9A9A9;
}

/*Site footer*/
#end {
	background-color: #b4b4b4;
	color: #913737;
	text-align:	center;
	margin-bottom: 50px;
}

/*Small screens section*/
@media screen and (max-width: 500px) {
	#about {
		width: 90%;
	}
	#about img {
		width: 250px;
	}
	h1 {
		font-size: 50px;
	}
	h4 a {
		font-size: 22px;
	}
	#nav {
		font-size: 30px;
	}
	p, #about li {
		font-size: 24px;
		line-height: 36px;
	}
	#end {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
	}
	#vermin, #famine {
		width: 100%;
	}
}
