<style>
	
	h1 {
		font-family: 'Montserrat', serif;
	}
	
	h2 {
		font-family: 'Montserrat', serif;
	}

	h3, h4 {
		font-family: 'Open Sans', serif;
		line-height: 30px;
	}
	p {
		font-family: 'Open Sans', serif;
		font-size: 18px;
	}
	.container {
		margin-bottom: 100px;
		background-color: #D2D7D2;
		border-top: 2px solid black;
		color: #913737;
	}
	.intro {
		background-color: #D2D7D2;
		color: #913737;
		text-align: center;
		padding: 10px;
	}
	#temp {
		text-align: center;
		color: #913737;
		margin-left: auto;
		margin-right: auto;
		padding-bottom:	20px;
	}
	#nav {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin-top: 12px;
		padding-bottom: 30px;
		font-size: 20px;
		cursor: pointer;
	}
	#nav a {
		padding-left: 10px;
	}
	#about {
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		padding-top: 30px;
		padding-bottom:	20px;
		width: 90%;
		height: auto;
	}
	#about li {
		font-size: 18px;
	}
	#about img {
		width: 150px;
		padding-bottom: 20px;
		padding-left: 20px;
	}
	#end {
		background-color: #D2D7D2;
		color: #913737;
		text-align:	center;
		margin-bottom: 50px;
	}

	@media screen and (min-width: 400px) {
		#about {
			width: 50%;
		}
		#about img {
			float: right;
			width: 250px;
		}
	}

</style>
